.main-page {
  width: 1920px;
  height: 3124px;
  background-color: var(--main-color);
  color: #fff;
}

.main-page__home {
  width: 2337px;
  height: 1542px;
}

#main-page__bg {
  position: absolute;
  top: -395px;
  left: 124px;
  width: 2337px;
  height: 1542px;
}

.home-content-box {
  /* background-color: red; */
  width: 528px;
  height: 500px;
  position: absolute;
  top: 411px;
  left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-content__phrases-box h1 {
  font-size: 80px;
  padding: 20px 0px;
}

.home-content__phrases-box h3:first-child {
  font-size: 50px;
}

.home-content__phrases-box h3:last-child {
  font-size: 60px;
}

.home-content-box p {
  width: 484px;
  height: 58px;
  letter-spacing: 0.6px;
  font-size: 20px;
  line-height: 30px;
}
.home-content__main-button {
  width: 300px;
  height: 60px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  border: none;
  color: var(--main-color);
  font-size: 16px;
}

.home-content__play-button {
  width: 60px;
  height: 60px;
  background: #c4a3fd 0% 0% no-repeat padding-box;
  border-radius: 50%;
  border: none;
  margin-left: 20px;
}
