:root {
  --score3: "S-CoreDream-3Light";
  --score4: "S-CoreDream-4Regular";
  --score5: "S-CoreDream-5Medium";

  --noto2: "Noto Sans KR-Light";
  --noto3: "Noto Sans KR-Regular";
  --noto4: "Noto Sans KR-Medium";
  --noto5: "Noto Sans KR-Bold";

  --main-color: #b28af8;
  --point-color: #956ae1;

  --unnamed-color-ffffff: #ffffff;
}

/* #edb035; */
