.main-photo-cards__wraps {
  display: flex;
}

.main-photo-card {
  width: 100%;
  height: 400px;
}

.main-photo-card-text__wraps {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main-photo-card-text__wraps h5 {
  font-family: var(--noto5);
  font-size: 1.5rem;
  padding-bottom: 2.2rem;
}
.main-photo-card-text__wraps p {
  font-family: var(--noto3);
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
