.text-card_wrap {
  display: flex;
}

.text-card {
  width: 200px;
  height: 160px;
  padding: 3rem 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8%;
  margin: 0px 20px;
}

.text-card h3 {
  font-size: 1.4rem;
  font-family: var(--noto5);
}

.text-card p {
  font-size: 0.8rem;
  font-family: var(--noto3);
}

.text-card button {
  background-color: var(--bg-gray-color);
  height: 30px;
  font-family: var(--noto5);
  color: rgb(10, 128, 128);
}
