/* pages style */
@import "./containers/App.css";
@import "./css/video-page.css";
@import "./css/video-detail-page.css";

/* components style */
@import "./css/main-header.css";
@import "./css/text-card.css";
@import "./css/couter-card.css";
@import "./css/mouse.css";
@import "./css/help.css";
@import "./css/function-card.css";
@import "./css/main-photo-card.css";

/* fonts */
@import "./css/font.css";

/* variable */
@import "./css/variable.css";

/* reset */
@import "./css/reset.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defalut-section {
  display: flex;
  flex-direction: column;
}

.defalut-section.first {
  background-color: black;
}
.defalut-section.function {
  flex-direction: initial;
  padding: 4rem 2rem;
  justify-content: space-around;
}
.section-func-text__wraps {
  width: 300px;
}
.section-func-text__wraps h2 {
  font-size: 3rem;
  font-family: var(--noto5);
  margin-bottom: 1.4rem;
}
.section-func-text__wraps h4 {
  font-size: 2rem;
  font-family: var(--noto5);
  color: #7f7f7f;
}

.defalut-section.star-back {
  background-attachment: fixed;
  background-image: url("./images/star.jpg");
  height: 35vh;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.defalut-section.star-back p {
  font-family: var(--noto5);
  line-height: 2em;
  font-size: 1.4rem;
}

.defalut-section.video {
  background-color: #dfdfdf;
  height: 55vh;
  padding: 6rem 2rem 6rem 2rem;
}
.thum-cards {
  display: flex;
  justify-content: center;
}
.template-img-text__wrap {
  width: 400px;
  padding: 3rem 1rem;
}
.template-img-text__wrap img {
  width: 100%;
  margin-bottom: 1.4rem;
}
.template-img-text__wrap img:hover {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}
.template-info__wrap {
  text-align: center;
}
.template-info__wrap h4 {
  font-family: var(--noto5);
  margin-bottom: 1rem;
}
.template-info__wrap p {
  font-family: var(--noto3);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.defalut-section.video h1 {
  font-size: 2.4rem;
  font-family: var(--noto5);
  margin-top: 1.6rem;
}
.defalut-section.video span {
  color: #f98645;
  font-family: var(--noto5);
}
.video-detail-button__wrap {
  margin: auto;
}

.video-detail-button__wrap a {
  background-color: #fff;
  color: #333;
  font-family: var(--noto4);
  font-size: 0.9rem;
  padding: 1rem 2.4rem;
  border-radius: 12px;
}
.video-detail-button__wrap a:hover {
  background-color: var(--bg-gray-color);
  color: #333;
  transition: all 0.2s ease-in-out;
}

.defalut-section.service {
  padding: 4rem 1rem 4rem 0rem;
  flex-direction: initial;
  justify-content: space-around;
  align-items: center;
}

.service-section__title-box {
  margin-bottom: 3rem;
  text-align: start;
}

.service-section__title-box p {
  color: #999;
  font-family: var(--noto5);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2em;
  display: inline-block;
}

.service-section__title-box h2 {
  font-family: var(--noto5);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4em;
  margin-bottom: 1rem;
}

.defalut-section.counter {
  flex-direction: initial;
  background-color: rgb(248, 245, 242);
  padding: 6rem 2rem;
  text-align: center;
  justify-content: center;
}

.defalut-section.logo-imgs__wraps {
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.logo-img__wraps {
  width: auto;
  padding: 1.4rem;
}

.defalut-section.logo-imgs__wraps img {
  height: auto;
}

.defalut-section.collabo {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/collabo.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.defalut-section.collabo h4 {
  font-family: var(--noto5);
  font-size: 1.5rem;
  line-height: 1.8em;
}
.defalut-section.collabo hr {
  margin: 1.5rem;
}
.defalut-section.collabo p {
  font-family: var(--noto3);
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.8em;
}
.defalut-section.collabo button {
  font-family: var(--noto3);
  font-size: 0.8rem;
  border-radius: 12px;
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  background-color: #fff;
  color: #333;
}
.defalut-section.collabo button:hover {
  background-color: #dfdfdf;
  color: #333;
}
.footer {
  background-color: rgb(26, 26, 26);
  color: #999;
  text-align: center;
  padding: 2rem 0rem;

  bottom: 0;
  right: 0;
  left: 0;
}
.footer p,
.footer a {
  margin: 0.5rem 0rem;
  font-family: var(--noto3);
  font-size: 0.8rem;
}
